pip
ansible
jsonschema<4
pyyaml<6
click
ansible-runner
docker
loguru
pytimeparse
frozendict
dataclasses-json
petname
python-on-whales
docker-compose
dacite
pexpect
websocket-client<1
boto3 # for AWS
boto3-stubs[essential]  # type hints for AWS...
multipledispatch
netaddr
git+https://github.com/samiemostafavi/autoran.git
